.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #A2D2FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-Container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.Movie-Wrapper{
  width: 175px;
  background-color: #f0a6ca;
  color: black;
  padding: 12px;
  border-radius: 16px;
}

.Movie-Search{
  height: 40px;
  font-size: 24px;
  margin-bottom: 40px;
  padding: 20px;
  font-weight: bold;
  width: 450px;
}

.Movie-Title{
  padding: 10px;
  font-size: 20px;
  font-family: 'Roboto';
}

.Movie-Image{
  width: 170px;
}

.Movie-Date {
  font-size: 19px;
}
.Movie-Rating {
  font-size: 19px;
}
